@import 'src/styles/variables/variables';

.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    padding: 4px 3px;
    height: 40px;
    border-radius: $br;
    border: 1px solid $hovered;

    &:hover {
        background-color: $hovered;
        color: white;
        border-color: $hovered;
        cursor: pointer;
    }
}

.asset {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.button {
    align-self: center;
    height: 35px;
    width: 60px;
    background-color: $hovered;
    border-radius: 6px;
    border: none;
    color: white;

    &:hover {
        background-color: #064d64;
        cursor: pointer;
    }
}

.assetContent {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}