@import 'src/styles/variables/variables';

.portfolioWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid $font-marked;

    &:hover {
        background-color: $hovered;
        cursor: pointer;
    }
}