@import 'src/styles/variables/variables';

.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    padding: 5px;
    height: 40px;
    border-radius: $br;
    border: 1px solid $hovered;

    &:hover {
        background-color: $hovered;
        color: white;
        border-color: $hovered;
        cursor: pointer;
    }
}