@import 'src/styles/variables/variables';

.portfolioWrapper {
    display: flex;
    justify-content: space-between;
    gap: 3px;
    margin: 25px 0;
    background-color: $bgc;
    padding: 20px;
}