.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0;
}

@media (max-width: 400px) and (min-width: 320px) {
    .info {
        display: block;
    }
}